body {
  font-family: "Georgia", "Times New Roman", Times, serif;
  margin: 40px auto;
  max-width: 768px;
  padding: 0 10px;
}

img {
  max-width: 100%;
}

table {
  width: 100% !important;
  border-collapse: collapse;
}

figure {
  margin-bottom: 2em;  
}

table th, 
table td {
  border-bottom: 1px solid black;
  padding: 15px;
}

.center {
  text-align: center;
}

.indent {
  margin: 16px 40px;
}
